// font
$web_base: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;

// color
$color-black: #3C3835;
$color-gray: #DEDEDE;
$color-light-gray: #F2F2F2;
$color-green: #4BBE92;


// size
$breakWidePc: 1281px;
$breakPc: 901px;
$breakTab: 601px;