// font
$web_base: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;

// color
$color-black: #3C3835;
$color-gray: #DEDEDE;
$color-light-gray: #F2F2F2;
$color-green: #4BBE92;


// size
$brakWidePc: 1281px;
$break-point-tb-hi: 1280px;
$brakPc: 601px;
$break-point-sp: 599px;

// $brakWidePc: 1281px;
// $brakPc: 901px;
// $brakTab: 601px;

// media-query-sp

// break-point-sp