@charset "UTF-8";

@use "destyle";

/* Noto+Sans+JP gothic */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700;900&display=swap");
/* font-family: "Noto Sans JP", sans-serif; */
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
/* font-family: "Roboto", sans-serif; */
/* Roboto Condensed */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
// font-family: "Roboto Condensed", sans-serif;
/* Roboto Condensed Italic */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap");
// font-family: "Roboto Condensed", sans-serif;
/* Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");
/* font-family: "Lato", sans-serif; */

@mixin caption-with-visual {
  writing-mode: vertical-rl;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

@mixin dl-container {
  display: flex;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px dotted $color-gray;
  dt, dd {
    font-weight: 300;
    line-height: 1.7;
  }
  dt {
    min-width: 85px;
  }
}

@mixin hoverAnimation($transition-duraiton: .3s) {
  transition: $transition-duraiton;
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin scroll-trigger-curtains {
  .curtains {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #fff;
    z-index: get_index(curtains);
  }
}

@mixin view-more-curtains {
  .view-more-curtains {
    position: absolute;
    top: 0;
    left: 0%;
    width: 110%;
    height: 180%;
    content: "";
    background-color: #fff;
    z-index: get_index(view-more-curtains);
  }
}

@mixin over-green {
  .over-green {
    position: absolute;
    top: 0;
    left: 0%;
    padding-bottom: 10px;
    border-bottom: 3px solid $color-green;
    opacity: 0;
    overflow: hidden;
    .frame {
      white-space: nowrap;
      color: $color-green;
    }
  }
}

// colors
$color-black: #3C3835;
$color-gray: #DEDEDE;
$color-light-gray: #F2F2F2;
$color-green: #4BBE92;
$color-bule: blue;

// 紐付けたい要素を変数名にして配列に格納する。
// view-more-curtains+1
// about-salon-vibe-last+1
// contents-title+3
// sp-header+10
// styling-view-modal+11
// loading+11
$index-map: 
  view-more-curtains,
  about-salon-vibe-last,
  contents-title,
  sp-header,
  styling-view-modal,
  loading;
// z-index属性へ代入する関数を定義する。
// 配列と値の名称を引数とする。
@function get_index($name) {
  @return index($index-map, $name)
}

/* //////////////////// 全体 */
html {
  /* 本文: 14px */
  font-size: 87.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $color-black;
}

// :targetとして1行で書く
// #blog,
// #about,
// #staff,
// #menu,
// #style,
// #recruit {
//   scroll-margin-top: 10px;
// }
:target {
  scroll-margin-top: 10px;
}

.container {
  width: calc(100% - 160px);
  margin: 0 auto;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

figcaption {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-feature-settings: "palt";
  letter-spacing: .1em;
}

.view-more {
  position: relative;
  .wrapper {
    @include view-more-curtains;
    @include over-green;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    padding-bottom: 10px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: $color-black;
    white-space: nowrap;
    transition: .5s;
    border-bottom: 3px solid $color-black;
    @media (hover: hover) {
      &:hover {
        cursor: pointer;
      }
    }
  }
}









// .vm-container {
//   position: relative;
//   width: 100%;
//   height: 500px;

//   .vm {
//     display: block;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: auto;
//     padding-bottom: 10px;
//     font-family: "Roboto Condensed", sans-serif;
//     font-size: 18px;
//     font-weight: 700;
//     line-height: 1;
//     color: $color-black;
//     white-space: nowrap;
//     border-bottom: 3px solid $color-black;
//     transition: 0.5s;

//     &::before {
//       position: absolute;
//       content: "VIEW MORE";
//       top: 0;
//       left: 0;
//       width: 100%;
//       padding-bottom: 10px;
//       font-family: "Roboto Condensed", sans-serif;
//       font-size: 18px;
//       font-weight: 700;
//       line-height: 1;
//       color: transparent;
//       background-clip: text;
//       white-space: nowrap;
//       overflow: hidden;
//       background-color: $color-green;
//       border-bottom: 3px solid $color-green;
//       transform-origin: left;
//       transition: width 0.5s;
//     }

//     &:hover::before {
//       width: 100%;
//     }
//   }
// }








.test-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  margin-top: 100px;
  background-color: #eee;
  .view-more-frame {
    position: relative;
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;
    border-bottom: 3px solid black;
    color: black;
    .curtains-word {
      position: absolute;
      top: 0;
      left: 0;
      padding-bottom: 10px;
      color: transparent;
      background-clip: text;
      background-color: green;
      border-bottom: 3px solid green;
      overflow: hidden;
    }
  }
}



// .vm-container {
//   position: relative;
//   width: 100%;
//   height: 500px;
//   margin: 50px auto;
//   text-align: center;
//   background-color: #eee;
//   .box {
//     display: inline-block;
//     // width: 300px;
//     // height: 300px;
//     font-size: 30px;
//     text-align: center;
//     color: #fff;
//     overflow: hidden;
//     white-space: nowrap;
//     background-color: blue;
//     }
//   .vm {
//     display: block;
//     position: absolute;
//     top: 50%;
//     left: 0;
//     transform: translateY(-50%);
//     width: auto;
//     padding-bottom: 10px;
//     font-family: "Roboto Condensed", sans-serif;
//     font-size: 18px;
//     font-weight: 700;
//     line-height: 1;
//     color: $color-black;
//     white-space: nowrap;
//     border-bottom: 3px solid $color-black;
//     transition: 0.5s;
//     transform-origin: 'left top';
//     overflow: hidden;
//     &::before {
//       position: absolute;
//       content: "VIEW MORE";
//       top: 0;
//       left: 0;
//       width: 0;
//       padding-bottom: 10px;
//       font-family: "Roboto Condensed", sans-serif;
//       font-size: 18px;
//       font-weight: 700;
//       line-height: 1;
//       color: transparent;
//       background-clip: text;
//       white-space: nowrap;
//       overflow: hidden;
//       background-color: $color-green;
//       border-bottom: 3px solid $color-green;
//       transition: .5s;
//       opacity: 0;
//     }
//     &:hover::before {
//       width: auto;
//       opacity: 1;
//     }
//   }
// }














// $color-black: #000;
// $color-green: #00ff00;

// .vm-container {
//   position: relative;
//   width: 100%;
//   height: 500px;

//   .vm {
//     position: relative;
//     display: inline-block;
//     padding-bottom: 10px;
//     font-family: "Roboto Condensed", sans-serif;
//     font-size: 18px;
//     font-weight: 700;
//     line-height: 1;
//     color: $color-black;
//     white-space: nowrap;
//     border-bottom: 3px solid $color-black;
//     overflow: hidden;
//     transition: all 0.5s;
//     &::before {
//       content: "VIEW MORE";
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 0;
//       padding-bottom: 10px;
//       font-family: "Roboto Condensed", sans-serif;
//       font-size: 18px;
//       font-weight: 700;
//       line-height: 1;
//       background-clip: text;
//       background-color: $color-green;
//       white-space: nowrap;
//       border-bottom: 3px solid $color-green;
//       transition: all 0.5s;
//     }
//     &:hover::before {
//       width: 100%;
//     }
//   }
// }






.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transition: 1.5s;
  visibility: hidden;
  opacity: 0;
  z-index: get_index(loading);
  &.keep {
    visibility: visible;
    opacity: 1;
  }
  .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
}

header {
  position: relative;
  background-color: blue;
  .image.logo {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 80px;
    height: auto;
  }
  .main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 28px;
    right: 0;
    width: 80px;
    height: 100vh;
    z-index: get_index(main-nav);
    .to-section-link-btn {
      display: block;
    }
    ul {
      display: flex;
      align-items: center;
      writing-mode: vertical-rl;
      gap: 15.5px;
      li {
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 13px;
        line-height: 1;
        text-transform: uppercase;
        a {
          @include hoverAnimation() {
            color: $color-green;
          }
        }
      }
      &:last-of-type {
        margin-top: auto;
        margin-bottom: 55px;
        gap: 15px;
        li {
          &:first-of-type {
            position: relative;
            padding: 0 5px 15px;
            border-bottom: 1px solid $color-black;
            &::before {
              position: absolute;
              top: -28px;
              left: 50%;
              transform: translateX(-50%);
              font-family: "Font Awesome 6 Free";
              content: "\f133";
              font-size: 20px;
              font-weight: 100;
            }
          }
          &:last-of-type {
            .fa-brands {
              font-size: 28px;
              @include hoverAnimation() {
                color: $color-black;
              }
            }
          }
        }
      }
    }
  }
}
.active {
  display: block;
}

@media screen and (max-width: 700px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid $color-light-gray;
    z-index: get_index(sp-header);
    .previous-container {
      display: flex;
      align-items: center;
      height: inherit;
      padding: 0 20px;
      .frame.logo {
        position: unset;
        width: 80px;
        height: 40px;
        img {
          object-fit: contain;
        }
      }
      .main-nav {
        flex-direction: row;
        justify-content: flex-end;
        position: unset;
        margin-right: 60px;
        width: 100%;
        height: inherit;
        .to-section-link-btn {
          display: inline-block;
          position: fixed;
          top: 0;
          right: 0px;
          width: 60px;
          height: 60px;
          border-left: 1px solid #ddd;
          cursor: pointer;
          div {
            position: absolute;
            left: 50%;
            width: 30px;
            height: 1px;
            background-color: #3C3835;
            transition: .2s;
            visibility: visible;
            opacity: 1;
            &:nth-of-type(1) {
              top: 33%;
              transform: translateX(-50%)
            }
            &:nth-of-type(2) {
              top: 50%;
              // left: 50%;
              transform: translate(-50%, -50%);
            }
            &:nth-of-type(3) {
              top: 67%;
              // left: 50%;
              transform: translateX(-50%);
            }
          }
          &.active {
            div {
              top: 50%;
              left: 50%;
              &:nth-of-type(1) {
                transform: translateX(-50%) rotate(45deg);
              }
              &:nth-of-type(2) {
                visibility: hidden;
                opacity: 0;
              }
              &:nth-of-type(3) {
                transform: translateX(-50%) rotate(-45deg);
              }
            }
          }
        }
        ul {
          height: 100%;
          margin-right: 60px;
          writing-mode: horizontal-tb;
          &:first-of-type {
            flex-direction: column;
            justify-content: flex-start;
            gap: 0;
            position: fixed;
            top: 60px;
            left: 0;
            width: 100%;
            line-height: 1;
            background-color: #fff;
            transition: .5s;
            visibility: hidden;
            opacity: 0;
            &.appear {
              visibility: visible;
              opacity: 1;
            }
            li {
              display: block;
              width: 100%;
              padding: 20px 0;
              text-align: center;
              font-family: "Lato", sans-serif;
              font-weight: 300;
              font-size: 24px;
              border-bottom: 1px solid $color-light-gray;
              a {
                display: block;
              }
            }
          }
          &:last-of-type {
            gap: 0;
            height: inherit;
            margin: 0;
            li:first-of-type {
              position: relative;
              padding: 0;
              border: none;
              &::before {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -25px;
              }
            }
            li:last-of-type {
              margin-left: 15px;
              padding-left: 15px;
              border-left: 1px solid $color-black;
            }
          }
        }
      }
    }
  }
}

// for section title
main {
  // 任意の値から始めることができる
  counter-reset: section-title-num 0;
  section {
    margin-top: 60px;
    padding-top: 60px;
    .container {
      .contents-title {
        position: absolute;
        top: 60px;
        left: -50px;
        writing-mode: vertical-rl;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: .1em;
        text-transform: uppercase;
        counter-increment: section-title-num;
        z-index: get_index(contents-title);
        &::before {
          position: absolute;
          top: -60px;
          content: "0"counter(section-title-num) ;
        }
        &::after {
          position: absolute;
          top: -15px;
          left: 50%;
          transform: translateX(-50%);
          width: 18px;
          height: 0;
          border-top: 1px solid $color-black;
        }
      }
    }
  }
}

.main-visual {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  position: relative;
  margin-right: 80px;
  video {
    flex: .73;
    min-width: 400px;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  figcaption {
    flex: .27;
    min-width: 350px;
    padding: 0 60px 60px 0;
    line-height: 2.5;
    text-align: right;
  }

  .bgm-play-stop {
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 10px 7px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
  }
}

.blog {
  .container {
    position: relative;
    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 45px;
      li {
        position: relative;
        width: 90%;
        a {
          display: block;
          @media (hover: hover) {
            &:hover {
              color: $color-green
            }
          }
          .image {
            aspect-ratio: 1
          }
          .blog-date {
            @include caption-with-visual;
            position: absolute;
            top: 0;
            right: -20px;
            font-size: 11px;
          }
          p {
            margin-top: 20px;
            font-family: inherit;
            font-size: 13px;
            line-height: 1.2;
            font-feature-settings: "palt";
          }
        }
      }
    }
  }  
}

.about {
  margin-top: 200px;
  .container {
    position: relative;
    .salon-vibe {
      figure {
        display: flex;
        align-items: flex-end;
        &:last-of-type {
          flex-direction: row-reverse;
          margin-top: 120px;
          figcaption {
            text-align: right;
            z-index: get_index(about-salon-vibe-last);
          }
        }
        .media-wrapper {
          @include scroll-trigger-curtains;
          position: relative;
          flex: 1.55;
          video {
            width: 100%;
            aspect-ratio: 4/3;
            object-fit: cover;
            overflow: hidden;
          }
        }
        figcaption {
          flex: 1;
          line-height: 2.2;
          padding: 50px;
        }
      }
    }
    .access {
      display: flex;
      margin-top: 120px;
      .image {
        flex: 1;
        height: 90%;
      }
      dl {
        flex: 1.3;
        margin-left: 50px;
        div {
          @include dl-container;
          &:last-of-type {
            border-bottom: none;
          }
        }
        a {
          @include hoverAnimation() {
            color: $color-green;
          }
        }
      }
    }
    .map {
      .media-wrapper {
        @include scroll-trigger-curtains;
        position: relative;
        margin-top: 70px;
        width: 100%;
        aspect-ratio: 4/1.75;
        overflow: hidden;
        iframe {
          width: 100%;
        }
      }
    }
  }
  >.visual {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: calc(100% - 80px);
    margin-top: 120px;
  }
}

.staff {
  margin-top: 100px;
  .container {
    position: relative;
    ul {
      display: flex;
      gap: 75px;
      // justify-content: space-between;
      margin-right: 25px;
      li {
        position: relative;
        .image {
          height: 85%
        }
        .position {
          @include caption-with-visual;
          position: absolute;
          top: 0;
          right: -25px;
          font-size: 13px;
          font-weight: 700;
        }
        .name {
          position: relative;
          padding-top: 25px;
          font-family: "Noto Sans JP", sans-serif;
          font-weight: 500;
          font-size: 15px;
          letter-spacing: .1em;
          text-align: right;
          span {
            position: absolute;
            top: 15px;
            left: 0;
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-size: 28px;
            text-align: left;
            opacity: .6;
          }
        }
      }
    }
  }
}

.menu {
  margin-top: 150px;
  .container {
    position: relative;
    .media-wrapper {
      @include scroll-trigger-curtains;
      position: relative;
    }
    dl {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 60px;
      margin-top: 50px;
      div {
        @include dl-container;
        dt {
          width: 35%;
        }
        dd {
          width: 65%;
        }
      }
    }
  }
}

.style {
  margin-top: 100px;
  .container {
    position: relative;
    .visual {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      // grid-template-rows: repeat(3, 1fr);
      // grid-template-rows で定義した範囲外の段の高さを定義する。
      // つまり、grid-template-rowsを定義していない場合は、全ての段が対象となる
      grid-auto-rows: 1fr;
      gap: 6px;
      li {
        cursor: pointer;
        display: none;
        transition: .5;
        opacity: 0;
        &.models-block-defending {
          display: block;
        }
      }
    }
  }
}

// スライダーのモーダル以下
.styling-view-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  transition: .5s;
  visibility: hidden;
  opacity: 0;
  z-index: get_index(styling-view-modal);
  &.style-fade-in {
    visibility: visible;
    opacity: 1;
  }
  button {
    position: absolute;
    top: 20px;
    right: 20px;
    &::before {
      content: "\f00d";
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      font-size: 20px;
      color: #eee;
    }
  }
  .swiper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    max-width: 640px;
    width: 100%;
  }
}
// スライダーの周辺機器
.swiper-button-prev,
.swiper-button-next {
  top: 60%;
  mix-blend-mode: difference;
  &::after {
    content: "\f177";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 20px;
    color: #ddd;
  }
}
.swiper-button-next {
  &::after {
    content: "\f178";
  }
}

.recruit {
  margin-top: 180px;
  .container {
    position: relative;
    .join-our-team {
      figure {
        display: flex;
        align-items: center;
        .media-wrapper {
          @include scroll-trigger-curtains;
          width: 50%;
          aspect-ratio: 4/3;
          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        figcaption {
          width: 50%;
          line-height: 2.2;
          padding-left: 50px;
          dl {
            margin-top: 45px;
            .dl-container {
              @include dl-container;
              margin-bottom: 0px;
              padding-bottom: 0;
              border-bottom: none;
              &:first-of-type {
                margin-bottom: 25px;
              }
              dt, dd {
                font-family: "Roboto Condensed", sans-serif;
                font-size: 18px;
                font-weight: 700;
                line-height: 1;
                letter-spacing: .1em;
              }
              dt {
                min-width: 60px;
              }
              a {
                @include hoverAnimation() {
                  color: $color-green;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }

  main {
    section {
      .container {
        .contents-title {
          position: relative;
          top: 0;
          left: 0;
          padding-left: 60px;
          writing-mode: horizontal-tb;
          font-size: 26px;
          &:before {
            top: 0;
            left: 0;
          }
          &::after {
            top: 50%;
            transform: translateY(-50%);
            left: 45px;
            width: 0;
            height: 18px;
            border-top: none;
            border-left: 1px solid $color-black;
          }
        }
      }
    }
  }
  .view-more {
    .wrapper {
      margin-top: 30px;
      font-size: 14px;
      border-bottom: 2px solid $color-black;
      .view-more-curtains {
        // left: -60%;
        left: 0;
      }
    }
  }
  :target {
    scroll-margin-top: 70px;
  }
  .main-visual {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 60px 0 0 0;
    .media-wrapper {
      position: relative;
      width: 100%;
      aspect-ratio: 1/1.5;
      overflow: hidden;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .bgm-play-stop {
        bottom: 15px;
        right: 15px;
      }
    }
    figcaption {
      padding: 0;
      padding-top: 30px;
      text-align: center;
      font-size: 14px;
      line-height: 2;
    }
  }

  .blog {
    margin-top: 80px;
    padding: 0 0 145px;
    .container {
      ul {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 50px;
        margin-top: 20px;
        padding-right: 20px;
        li {
          width: 100%;
          &:nth-of-type(5) {
            display: none;
          }
          a {
            .frame {
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }

  .about {
    margin-top: 0;
    padding-top: 0;
    .container {
      .salon-vibe {
        margin-top: 20px;
        figure {
          flex-direction: column;
          align-items: flex-start;
          &:last-of-type {
            flex-direction: column;
            align-items: flex-end;
            margin-top: 45px;
          }
          .media-wrapper {
              width: 80%;
            }
          figcaption {
            margin-top: 20px;
            padding: 0;
            font-size: 14px;
            line-height: 1.7;
            // text-align: left;
          }
        }
      }
    }
    .visual {
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      margin-top: 60px;
    }
    .container {
      .access {
        flex-direction: column;
        margin-top: 60px;
        .frame {
          img {
            height: 100%;
          }
        }
        dl {
          margin-top: 30px;
          margin-left: 0;
          .dl-container {
            margin-bottom: 15px;
            padding-bottom: 15px;
            dt, dd {
              font-size: 13px;
              line-height: 1.5;
            }
          }
        }
      }
      .map {
        .media-wrapper {
          margin-top: 10px;
          aspect-ratio: 1/0.9;
        }
      }
    }
  }

  .staff {
    margin-top: 35px;
    .container {
      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 42px;
        row-gap: 35px;
        margin: 25px 15px 0 0;
        li {
          .image {
            height: 75%;
          }
          .position {
            right: -20px;
            font-size: 13px;
          }
          .name {
            margin-top: 9px;
            font-size: 14px;
            text-align: left;
            span {
              top: 0;
              font-size: 14px;
              letter-spacing: 0;
              br {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .menu {
    margin-top: 40px;
    .container {
      .frame {
        width: 100%;
        aspect-ratio: 1/0.75;
        margin-top: 20px;
      }
      dl {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 30px;
        .dl-container {
          font-size: 13px;
          margin-bottom: 14px;
          padding-bottom: 14px;
        }
      }
    }
  }

  .style {
    margin-top: 50px;
    .container {
      .visual {
        margin-top: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
      }
    }
  }
  #styling-view-modal .swiper-button-prev,
  #styling-view-modal .swiper-button-next {
    top: 50%;
    width: 38px;
    height: 38px;
    background-color: rgba(50, 50, 50, 0.75);
    mix-blend-mode: normal;
    &::after {
      font-size: 14px;
    }
  }
  #styling-view-modal .swiper-button-prev {
    left: 1.5%;
  }
  #styling-view-modal .swiper-button-next {
    right: 1.5%;
  }
  
  .recruit {
    margin-top: 95px;
    .container {
      .join-our-team {
        margin-top: 20px;
        figure {
          flex-direction: column;
          .media-wrapper {
            width: 100%;
            aspect-ratio: 3/2.1;
          }
          figcaption {
            width: 100%;
            margin-top: 15px;
            padding: 0;
            text-align: center;
            dl {
              margin-top: 20px;
              .dl-container {
                &:first-of-type {
                  margin-bottom: 15px;
                }
                dt, dd {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}

footer {
  position: relative;
  margin-top: 200px;
  padding-right: 80px;
  height: 50vh;
  overflow: hidden;
  video {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  figcaption {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 700px) {
  footer {
    margin-top: 115px;
    padding: 0;
    height: 40vh;
    .visual {
      height: 100%;
      video {
        height: 100%;
        object-fit: cover;
      }
      figcaption {
        bottom: 30px;
        white-space: nowrap;
      }
    }
  } 
}