.test-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  margin-top: 100px;
  background-color: #eee;
  .view-more-frame {
      position: relative;
      margin: 0 auto;
      padding-bottom: 10px;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      white-space: nowrap;
  
      // 緑の文字 左 → 右用
      // color: black;
      // border-bottom: 3px solid black;
  
      // 緑の文字 右 → 左用
      color: green;
      border-bottom: 3px solid green;
  
      .curtains-word {
        position: absolute;
        top: 0;
        left: 0;
        padding-bottom: 10px;
        color: transparent;
        background-clip: text;
  
        // 緑の文字 左 → 右用
        // background-color: green;
        // border-bottom: 3px solid green;
  
        // 緑の文字 右 → 左用
        background-color: black;
        border-bottom: 3px solid black;
        overflow: hidden;
      }
    }
  
}

