@charset "UTF-8";
/* Noto+Sans+JP gothic */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700;900&display=swap");
/* font-family: "Noto Sans JP", sans-serif; */
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
/* font-family: "Roboto", sans-serif; */
/* Roboto Condensed */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
/* Roboto Condensed Italic */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap");
/* Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* font-family: "Lato", sans-serif; */
header {
  position: relative;
  z-index: 3;
}
header .image.logo {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 80px;
  height: auto;
}
header .main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 28px;
  right: 0;
  width: 80px;
  height: 100vh;
}
header .main-nav .to-section-link-btn {
  display: block;
}
header .main-nav ul {
  display: flex;
  align-items: center;
  writing-mode: vertical-rl;
  gap: 15.5px;
}
header .main-nav ul li {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  text-transform: uppercase;
}
header .main-nav ul li a {
  transition: 0.3s;
}
@media (hover: hover) {
  header .main-nav ul li a:hover {
    color: #4BBE92;
  }
}
header .main-nav ul:last-of-type {
  margin-top: auto;
  margin-bottom: 55px;
  gap: 15px;
}
header .main-nav ul:last-of-type li:first-of-type {
  position: relative;
  padding: 0 5px 15px;
  border-bottom: 1px solid #3C3835;
}
header .main-nav ul:last-of-type li:first-of-type::before {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Font Awesome 6 Free";
  content: "\f133";
  font-size: 20px;
  font-weight: 100;
}
header .main-nav ul:last-of-type li:last-of-type .fa-brands {
  font-size: 28px;
  transition: 0.3s;
}
@media (hover: hover) {
  header .main-nav ul:last-of-type li:last-of-type .fa-brands:hover {
    color: #3C3835;
  }
}

@media screen and (max-width: 700px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #F2F2F2;
    z-index: 4;
  }
  header .previous-container {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 20px;
  }
  header .previous-container .image.logo {
    position: unset;
    width: 57px;
  }
  header .previous-container .main-nav {
    flex-direction: row;
    justify-content: flex-end;
    position: unset;
    margin-right: 60px;
    width: 100%;
    height: inherit;
  }
  header .previous-container .main-nav .to-section-link-btn {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0px;
    width: 60px;
    height: 60px;
    border-left: 1px solid #ddd;
    cursor: pointer;
  }
  header .previous-container .main-nav .to-section-link-btn div {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 1px;
    background-color: #3C3835;
    transition: 0.2s;
    visibility: visible;
    opacity: 1;
  }
  header .previous-container .main-nav .to-section-link-btn div:nth-of-type(1) {
    top: 33%;
    transform: translateX(-50%);
  }
  header .previous-container .main-nav .to-section-link-btn div:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  header .previous-container .main-nav .to-section-link-btn div:nth-of-type(3) {
    top: 67%;
    transform: translateX(-50%);
  }
  header .previous-container .main-nav .to-section-link-btn.active div {
    top: 50%;
    left: 50%;
  }
  header .previous-container .main-nav .to-section-link-btn.active div:nth-of-type(1) {
    transform: translateX(-50%) rotate(45deg);
  }
  header .previous-container .main-nav .to-section-link-btn.active div:nth-of-type(2) {
    visibility: hidden;
    opacity: 0;
  }
  header .previous-container .main-nav .to-section-link-btn.active div:nth-of-type(3) {
    transform: translateX(-50%) rotate(-45deg);
  }
  header .previous-container .main-nav ul {
    height: 100%;
    margin-right: 60px;
    writing-mode: horizontal-tb;
  }
  header .previous-container .main-nav ul:first-of-type {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    line-height: 1;
    background-color: #fff;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
  }
  header .previous-container .main-nav ul:first-of-type.appear {
    visibility: visible;
    opacity: 1;
  }
  header .previous-container .main-nav ul:first-of-type li {
    display: block;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 24px;
    border-bottom: 1px solid #F2F2F2;
  }
  header .previous-container .main-nav ul:first-of-type li a {
    display: block;
  }
  header .previous-container .main-nav ul:last-of-type {
    gap: 0;
    height: inherit;
    margin: 0;
  }
  header .previous-container .main-nav ul:last-of-type li:first-of-type {
    position: relative;
    padding: 0;
    border: none;
  }
  header .previous-container .main-nav ul:last-of-type li:first-of-type::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
  }
  header .previous-container .main-nav ul:last-of-type li:last-of-type {
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #3C3835;
  }
}
html {
  /* 本文: 14px */
  font-size: 87.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3C3835;
}

:target {
  scroll-margin-top: 10px;
}

.container {
  width: calc(100% - 160px);
  margin: 0 auto;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

figcaption {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-feature-settings: "palt";
  letter-spacing: 0.1em;
}

.view-more-frame {
  width: 100%;
  margin-top: 40px;
  text-align: center;
}
.view-more-frame .view-more-button {
  display: block;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #3C3835;
  transition: 0.3s;
}
.view-more-frame .view-more-button::before, .view-more-frame .view-more-button::after {
  display: block;
  content: "";
  height: 3px;
}
.view-more-frame .view-more-button::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  background-color: #4BBE92;
  transition: 0.3s;
}
.view-more-frame .view-more-button::after {
  width: 100%;
  margin-top: 10px;
  background-color: #3C3835;
}
.view-more-frame .view-more-button:hover {
  color: #4BBE92;
}
.view-more-frame .view-more-button:hover::before {
  width: 100%;
}
.view-more-frame .view-more-button .curtains-view-more {
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 13px;
  color: transparent;
  background-color: #fff;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transition: 1.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 6;
}
.loading.keep {
  visibility: visible;
  opacity: 1;
}
.loading .image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

main {
  counter-reset: section-title-num 0;
}
main section .container .contents-title {
  position: absolute;
  top: 45px;
  left: -50px;
  padding-top: 15px;
  writing-mode: vertical-rl;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  counter-increment: section-title-num;
  z-index: 2;
  border-top: 1px solid #3C3835;
}
main section .container .contents-title::before {
  position: absolute;
  top: -45px;
  content: "0" counter(section-title-num);
}

@media screen and (max-width: 599px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

@media screen and (max-width: 599px) {
  :target {
    scroll-margin-top: 70px;
  }
}

@media screen and (max-width: 599px) {
  .view-more-frame {
    margin-top: 40px;
  }
  .view-more-frame .view-more-button {
    font-size: 13px;
  }
  .view-more-frame .view-more-button::before, .view-more-frame .view-more-button::after {
    height: 2px;
  }
}

@media screen and (max-width: 599px) {
  main section .container .contents-title {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 45px;
    padding-top: 0;
    padding-left: 15px;
    font-size: 26px;
    line-height: 1;
    writing-mode: horizontal-tb;
    border: none;
    border-left: 1px solid #3C3835;
  }
  main section .container .contents-title:before {
    top: 0;
    left: -45px;
  }
  main section .container .contents-title::after {
    top: 50%;
    transform: translateY(-50%);
    left: 45px;
    width: 0;
    height: 18px;
    border-top: none;
    border-left: 1px solid #3C3835;
  }
}

.about {
  margin-top: 180px;
}
.about .container {
  position: relative;
}
.about .container .salon-vibe figure {
  display: flex;
  align-items: flex-end;
}
.about .container .salon-vibe figure:last-of-type {
  flex-direction: row-reverse;
  margin-top: 140px;
}
.about .container .salon-vibe figure:last-of-type figcaption {
  text-align: right;
  z-index: 1;
}
.about .container .salon-vibe figure .media-wrapper {
  position: relative;
  flex: 1.8;
}
.about .container .salon-vibe figure .media-wrapper .curtains {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #fff;
}
.about .container .salon-vibe figure .media-wrapper video {
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.about .container .salon-vibe figure figcaption {
  flex: 1;
  font-size: 16px;
  line-height: 2.5;
  padding: 50px;
}
.about .container .access {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 120px;
}
.about .container .access .image {
  width: 40%;
  height: 90%;
}
.about .container .access dl {
  width: 55%;
  margin-left: 50px;
}
.about .container .access dl div {
  display: flex;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px dotted #DEDEDE;
}
.about .container .access dl div dt, .about .container .access dl div dd {
  font-weight: 300;
  line-height: 1.7;
}
.about .container .access dl div dt {
  min-width: 85px;
}
.about .container .access dl div:last-of-type {
  border-bottom: none;
}
.about .container .access dl a {
  transition: 0.3s;
}
@media (hover: hover) {
  .about .container .access dl a:hover {
    color: #4BBE92;
  }
}
.about .container .media-wrapper.map {
  position: relative;
  width: 100%;
  height: 38vh;
  margin-top: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.about .container .media-wrapper.map .curtains {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #fff;
}
.about .container .media-wrapper.map iframe {
  width: 100%;
  height: 100%;
}
.about > .visual {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: calc(100% - 80px);
  margin-top: 120px;
}
@media screen and (max-width: 599px) {
  .about {
    margin-top: 100px;
  }
  .about .container .salon-vibe {
    margin-top: 20px;
  }
  .about .container .salon-vibe figure {
    flex-direction: column;
    align-items: flex-start;
  }
  .about .container .salon-vibe figure:last-of-type {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 45px;
  }
  .about .container .salon-vibe figure .media-wrapper {
    width: 80%;
    margin-top: 0;
    aspect-ratio: 4/3;
  }
  .about .container .salon-vibe figure figcaption {
    margin-top: 20px;
    padding: 0;
    font-size: 14px;
    line-height: 2;
  }
  .about .visual {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-top: 60px;
  }
  .about .container .access {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 60px;
  }
  .about .container .access .image {
    width: 100%;
    height: 100%;
  }
  .about .container .access dl {
    width: 100%;
    margin-top: 30px;
    margin-left: 0;
  }
  .about .container .access dl div {
    margin-bottom: 17px;
    padding-bottom: 17px;
  }
  .about .container .access dl div dt, .about .container .access dl div dd {
    font-size: 12px;
    line-height: 1.5;
  }
  .about .container .media-wrapper.map {
    margin-top: 10px;
    height: 45vh;
  }
}

.blog {
  margin-top: 120px;
}
.blog .container {
  position: relative;
}
.blog .container ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 45px;
}
.blog .container ul li {
  position: relative;
  width: 90%;
}
.blog .container ul li a {
  display: block;
}
@media (hover: hover) {
  .blog .container ul li a:hover {
    color: #4BBE92;
  }
}
.blog .container ul li a .image {
  aspect-ratio: 1;
}
.blog .container ul li a .blog-date {
  writing-mode: vertical-rl;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
  position: absolute;
  top: 0;
  right: -20px;
  font-size: 11px;
}
.blog .container ul li a p {
  margin-top: 20px;
  font-family: inherit;
  font-size: 13px;
  line-height: 1.2;
  font-feature-settings: "palt";
}
@media screen and (max-width: 599px) {
  .blog {
    margin-top: 80px;
  }
  .blog .container ul {
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    -moz-column-gap: 50px;
         column-gap: 50px;
    margin-top: 20px;
    padding-right: 20px;
  }
  .blog .container ul li {
    width: 100%;
  }
  .blog .container ul li:nth-of-type(5) {
    display: none;
  }
  .blog .container ul li a p {
    margin-top: 15px;
  }
}

.main-visual {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  position: relative;
  margin-right: 80px;
}
.main-visual video {
  flex: 0.73;
  min-width: 400px;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-visual figcaption {
  flex: 0.27;
  min-width: 350px;
  padding: 0 60px 60px 0;
  line-height: 2.5;
  text-align: right;
}
.main-visual .bgm-play-stop {
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 10px 8px;
  font-size: 20px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .main-visual {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 60px 0 0 0;
  }
  .main-visual .media-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
  }
  .main-visual .media-wrapper video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-visual .media-wrapper .bgm-play-stop {
    bottom: 15px;
    right: 15px;
    font-size: 15px;
  }
  .main-visual figcaption {
    padding: 0;
    padding-top: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 2;
  }
}

.menu {
  margin-top: 150px;
}
.menu .container {
  position: relative;
}
.menu .container .media-wrapper {
  position: relative;
}
.menu .container .media-wrapper .curtains {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #fff;
}
.menu .container dl {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 60px;
       column-gap: 60px;
  margin-top: 50px;
}
.menu .container dl div {
  display: flex;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px dotted #DEDEDE;
}
.menu .container dl div dt, .menu .container dl div dd {
  font-weight: 300;
  line-height: 1.7;
}
.menu .container dl div dt {
  min-width: 85px;
}
.menu .container dl div dt {
  width: 35%;
}
.menu .container dl div dd {
  width: 65%;
}
@media screen and (max-width: 599px) {
  .menu {
    margin-top: 40px;
  }
  .menu .container .frame {
    width: 100%;
    margin-top: 20px;
  }
  .menu .container dl {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 30px;
  }
  .menu .container dl div {
    font-size: 13px;
    margin-bottom: 14px;
    padding-bottom: 14px;
  }
}

.recruit {
  margin-top: 150px;
}
.recruit .container {
  position: relative;
}
.recruit .container .join-our-team figure {
  display: flex;
  align-items: center;
}
.recruit .container .join-our-team figure .media-wrapper {
  width: 50%;
  aspect-ratio: 4/3;
}
.recruit .container .join-our-team figure .media-wrapper .curtains {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #fff;
}
.recruit .container .join-our-team figure .media-wrapper video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.recruit .container .join-our-team figure figcaption {
  width: 50%;
  line-height: 2.2;
  padding-left: 50px;
}
.recruit .container .join-our-team figure figcaption dl {
  margin-top: 45px;
}
.recruit .container .join-our-team figure figcaption dl div {
  display: flex;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px dotted #DEDEDE;
  margin-bottom: 0px;
  padding-bottom: 0;
  border-bottom: none;
}
.recruit .container .join-our-team figure figcaption dl div dt, .recruit .container .join-our-team figure figcaption dl div dd {
  font-weight: 300;
  line-height: 1.7;
}
.recruit .container .join-our-team figure figcaption dl div dt {
  min-width: 85px;
}
.recruit .container .join-our-team figure figcaption dl div:first-of-type {
  margin-bottom: 25px;
}
.recruit .container .join-our-team figure figcaption dl div dt, .recruit .container .join-our-team figure figcaption dl div dd {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
}
.recruit .container .join-our-team figure figcaption dl div dt {
  min-width: 60px;
}
.recruit .container .join-our-team figure figcaption dl div a {
  transition: 0.3s;
}
@media (hover: hover) {
  .recruit .container .join-our-team figure figcaption dl div a:hover {
    color: #4BBE92;
  }
}
@media screen and (max-width: 599px) {
  .recruit {
    margin-top: 105px;
  }
  .recruit .container .join-our-team {
    margin-top: 20px;
  }
  .recruit .container .join-our-team figure {
    flex-direction: column;
  }
  .recruit .container .join-our-team figure .media-wrapper {
    width: 100%;
    aspect-ratio: 3/2.1;
  }
  .recruit .container .join-our-team figure figcaption {
    width: 100%;
    margin-top: 30px;
    padding: 0;
    font-size: 14px;
    text-align: left;
  }
  .recruit .container .join-our-team figure figcaption dl {
    margin-top: 20px;
  }
  .recruit .container .join-our-team figure figcaption dl div:first-of-type {
    margin-bottom: 15px;
  }
  .recruit .container .join-our-team figure figcaption dl div dt {
    min-width: 45px;
  }
  .recruit .container .join-our-team figure figcaption dl div dt, .recruit .container .join-our-team figure figcaption dl div dd {
    font-size: 15px;
  }
}

.staff {
  margin-top: 100px;
}
.staff .container {
  position: relative;
}
.staff .container ul {
  display: flex;
  gap: 75px;
  margin-right: 25px;
}
.staff .container ul li {
  position: relative;
}
.staff .container ul li .image {
  height: 85%;
}
.staff .container ul li .position {
  writing-mode: vertical-rl;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
  position: absolute;
  top: 0;
  right: -25px;
  font-size: 13px;
  font-weight: 700;
}
.staff .container ul li .name {
  position: relative;
  padding-top: 25px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.1em;
  text-align: right;
}
.staff .container ul li .name span {
  position: absolute;
  top: 15px;
  left: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 28px;
  text-align: left;
  opacity: 0.6;
}
@media screen and (max-width: 599px) {
  .staff {
    margin-top: 95px;
  }
  .staff .container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 42px;
         column-gap: 42px;
    row-gap: 35px;
    margin: 25px 15px 0 0;
  }
  .staff .container ul li .image {
    height: 75%;
  }
  .staff .container ul li .position {
    right: -20px;
    font-size: 13px;
  }
  .staff .container ul li .name {
    margin-top: 9px;
    font-size: 14px;
    text-align: left;
  }
  .staff .container ul li .name span {
    top: 0;
    font-size: 14px;
    letter-spacing: 0;
  }
  .staff .container ul li .name span br {
    display: none;
  }
}

.style {
  margin-top: 100px;
}
.style .container {
  position: relative;
}
.style .container .visual {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  gap: 6px;
}
.style .container .visual li {
  cursor: pointer;
  display: none;
  transition: 0.5;
  opacity: 0;
}
.style .container .visual li.models-block-defending {
  display: block;
}
.style .container .view-more-button {
  cursor: pointer;
}

.styling-view-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
}
.styling-view-modal.style-fade-in {
  visibility: visible;
  opacity: 1;
}
.styling-view-modal button {
  position: absolute;
  top: 20px;
  right: 20px;
}
.styling-view-modal button::before {
  content: "\f00d";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 20px;
  color: #eee;
}
.styling-view-modal .swiper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  max-width: 640px;
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  mix-blend-mode: difference;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "\f177";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 20px;
  color: #ddd;
}

.swiper-button-next::after {
  content: "\f178";
}

@media screen and (max-width: 599px) {
  .style {
    margin-top: 90px;
  }
  .style .container .visual {
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .style .container .view-more-frame {
    margin-top: 25px;
  }
  .style #styling-view-modal .swiper-button-prev,
  .style #styling-view-modal .swiper-button-next {
    top: 50%;
    width: 38px;
    height: 38px;
    background-color: rgba(50, 50, 50, 0.75);
    mix-blend-mode: normal;
  }
  .style #styling-view-modal .swiper-button-prev::after,
  .style #styling-view-modal .swiper-button-next::after {
    font-size: 14px;
  }
  .style #styling-view-modal .swiper-button-prev {
    left: 1.5%;
  }
  .style #styling-view-modal .swiper-button-next {
    right: 1.5%;
  }
}

footer {
  position: relative;
  margin-top: 200px;
  padding-right: 80px;
  height: 50vh;
  overflow: hidden;
}
footer figure {
  height: 100%;
}
footer figure video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer figure figcaption {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0;
}

@media screen and (max-width: 700px) {
  footer {
    margin-top: 115px;
    padding: 0;
    height: 35vh;
  }
  footer video {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  footer figcaption {
    bottom: 30px;
    white-space: nowrap;
  }
}/*# sourceMappingURL=style.css.map */ss.map */