@use "../../forwards" as fw;

.menu {
  margin-top: 155px;
  .container {
    position: relative;
    .media-wrapper {
      @include fw.scroll-trigger-curtains;
      position: relative;
    }
    dl {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 60px;
      margin-top: 50px;
      div {
        @include fw.dl-container;
        dt {
          width: 35%;
        }
        dd {
          width: 65%;
        }
      }
    }
  }
  @include fw.media-query-wide-pc {
    margin-top: 210px;
    .container {
      dl {
        margin-top: 65px;
      }
    }

  }
  @include fw.media-query-tab {
    margin-top: 165px;
    .container {
      dl {
        margin-top: 35px;
        column-gap: 30px;
        div {
          margin-bottom: 13px;
          padding-bottom: 13px;
          dt {
            width: 50%;
          }
        }
      }
    }
  }
  @include fw.media-query-sp {
    margin-top: 100px;
    .container {
      .frame {
        width: 100%;
        margin-top: 20px;
      }
      dl {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 30px;
        div {
          font-size: 13px;
          margin-bottom: 14px;
          padding-bottom: 14px;
        }
      }
    }
  }
}
