@use "../forwards" as fw;

.blog {
  margin-top: 120px;
  .container {
    position: relative;
    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 45px;
      li {
        position: relative;
        width: 90%;
        a {
          display: block;
          @media (hover: hover) {
            &:hover {
              color: fw.$color-green
            }
          }
          .image {
            aspect-ratio: 1
          }
          .blog-date {
            @include fw.caption-with-visual;
            position: absolute;
            top: 0;
            right: -20px;
            font-size: 11px;
          }
          p {
            margin-top: 20px;
            font-family: inherit;
            font-size: 13px;
            line-height: 1.2;
            font-feature-settings: "palt";
          }
        }
      }
    }
  }
  @include fw.media-query-sp {
    margin-top: 80px;
    .container {
      ul {
        grid-auto-flow: column;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
        column-gap: 50px;
        margin-top: 20px;
        padding-right: 20px;
        li {
          width: 100%;
          &:nth-of-type(5) {
            display: none;
          }
          a {
            p {
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
}