@use "../../forwards" as fw;

.main-visual {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  position: relative;
  margin-right: 85px;
  video {
    flex: .73;
    min-width: 400px;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  figcaption {
    flex: .27;
    min-width: 350px;
    padding: 0 60px 60px 0;
    line-height: 2.5;
    text-align: right;
  }
  .bgm-play-stop {
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 10px 8px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
  }
  @include fw.media-query-wide-pc {
    margin-right: 80px;
    .media-wrapper {
      width: 60%;
    }
    .per-char {
      width: 40%;
    }

  }
  @include fw.media-query-tab {
    display: block;
    margin: 0;
    figcaption {
      position: absolute;
      bottom: 4%;
      left: 5%;
      padding: 0;
      font-size: 16px;
      line-height: 1.9;
      letter-spacing: .2em;
      text-align: left;
      color: #fff;
    }
    .bgm-play-stop {
      font-size: 17px;
    }
  }
  @include fw.media-query-sp {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 60px 0 0 0;
    .media-wrapper {
      position: relative;
      width: 100%;
      aspect-ratio: 1/1.07;
      overflow: hidden;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .bgm-play-stop {
        bottom: 15px;
        right: 15px;
        font-size: 15px;
      }
    }
    figcaption {
      position: unset;
      margin-top: 35px;
      padding: 0;
      text-align: center;
      font-size: 14px;
      line-height: 2;
      color: fw.$color-black;
    }
  }
  @include fw.mediaQuery(428px) {
    .media-wrapper {
      aspect-ratio: 1/1;
    }
  }
}